<% provide:title, t(".Help") %>
<h1><%=t(".Help")%></h1>
<p>
  <%=t".Help the Ruby on Rails Tutorial about the sample app at the"%>
  <a href="http://www.railstutorial.org/Help"><%=t".Help page"%></a>.
</p>
